html{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 400px;
    background-color: black;
    color: white;
}
.screen{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 40px;
}
.calc-button-row{
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
}
.calc-button{
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
}

